.ecircle1{
    position: absolute;
    width: 32%;
    margin-top: -5%;
    margin-left: 61%;
}
.esmale1{
    position: absolute;
    width: 28%;
    margin-top: -3%;
    margin-left: 63.1%;
}
.esmaintx1{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 5vw;
    text-transform: uppercase;
    color: #104E71;
    margin-left: 8%;
}
.esmaintx2{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 2.9vw;
    text-transform: uppercase;
    color: #104E71;
    margin-left: 1.7%;
}
.esmaintx3{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 2.9vw;
    margin-top: -5.1%;
    text-transform: uppercase;
    color: #104E71;
    margin-left: 8%;
}
.esmaintx4{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.2vw;
    color: #000000;
    margin-left: 8%;
    margin-top: -2%;

}
.esline1{
    margin-top: 10%;
    border: 1px solid #077F8D;
    width: 90%;
}
.escircle2{
position: absolute;
width: 12%;
margin-left: 82%;
}
.esph1{
    position: absolute;
    width: 11%;
    margin-left: 82.3%;
    margin-top: 3.20%;
}
    
.escircle4{
    position: absolute;
    width: 9%;
    margin-left: 63%;
    margin-top: 5%;
}

.esph2{
    position: absolute;
    width: 7%;
    margin-left: 63.8%;
    margin-top: 6.8%;
}
.escircle3{
    position: absolute;
    width: 15%;
    margin-left: 71%;
    margin-top: 18%;
}
.esph3{
    position: absolute;
    width: 12%;
    margin-left: 72.20%;
    margin-top: 21%;
}
.esc1tx1{
    margin-top: 5%;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 3.2vw;
    text-transform: uppercase;
    color: #104E71;
    margin-left: 8%;
}
.esc1tx2{
    margin-top: -2%;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 2vw;
    text-transform: uppercase;
    color: #077F8D;
        margin-left: 8%;
}
.esc1tx3{
    margin-top: -1.4%;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.2vw;
    color: #000000;
    margin-left: 8%;
}